{% extends 'inspector/inicio_inspector.html' %}
{% block user %}{{user}}{% endblock %}
{% block js %}
<script type="text/javascript">
$(document).ready(function(){
	Calendar.setup({
		        inputField     :    "id_fecha_presentacion",      // id del campo de texto
		        ifFormat       :    "%Y-%m-%d",       // formato de la fecha, cuando se escriba en el campo de texto
		        button         :    "lanzador"   // el id del botón que lanzará el calendario
		    });
});
</script>
<link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}css/calendar-green.css" title="win2k-cold-1" />
  <!-- librería principal del calendario -->
  <script type="text/javascript" src="{{STATIC_URL}}js/calendar.js"></script>
  <!-- librería para cargar el lenguaje deseado -->
  <script type="text/javascript" src="{{STATIC_URL}}js/calendar-es.js"></script>
  <!-- librería que declara la función Calendar.setup, que ayuda a generar un calendario en unas pocas líneas de código -->
  <script type="text/javascript" src="{{STATIC_URL}}js/calendar-setup.js"></script>
{% endblock %}
{% block inspecciones %}
<link rel="stylesheet" type="text/css" href="/static/css/formulariosCliente.css">
<link rel="stylesheet" type="text/css" href="/static/css/frontends.css">
<style type="text/css">
	section{
		display: none;
	}
	
</style>
<div id="comentario">
{% for mult in multa %}	
	<li><a href="javascript:ventanaSecundaria('/detDenuncias/{{mult.id}}/')">{{ mult.Usuario}}- Notifico:  {{mult.descripcion}}      Cod:{{mult.Codigo}}</a></li>	
{% endfor %}

</div>
<div class="card">
	<form method='POST'>{% csrf_token %}<input type='hidden' name='csrfmiddlewaretoken' value='xVJkmM4l7vuK6cX1520xfqRh3EgHAEEa' />
	<input id="id_idUser" name="idUser" value='{{user.id}}' type="hidden">
	<tr><th><label for="id_Usuario">Usuario:{{user.username}}</label></th><td>
	<input id="id_Usuario" maxlength="100" name="Usuario" type="hidden" value='{{user.username}}' /></td></tr>
	<tr><th><label for="id_descripcion">Descripcion:</label></th><td><textarea cols="40" id="id_descripcion" name="descripcion" rows="10">
	</textarea></td></tr>
	<tr><th><label for="id_Codigo">Codigo:</label></th><td><input id="id_Codigo" name="Codigo" type="number" /></td></tr>
	<tr><th><label for="id_fecha_presentacion">Fecha presentacion:</label></th><td>
		<input id="id_fecha_presentacion" name="fecha_presentacion" type="text" />
		<input type="button" id="lanzador" value="..." /></td></tr>
	<tr><th><label for="id_hora">Hora:</label></th><td><input id="id_hora" maxlength="12" name="hora" type="text" /></td></tr><br>
	<button name='btn' id='bo'class="waves-effect waves-light btn">Enviar</button>
</form>
</div>

<script>
	var socket = io.connect("http://localhost:3000");
	$('#bo').on('click',	Notificar);
	//alert('as echo clik en enviars');
	function Notificar(e){
		e.preventDefault();
		//son los datos que recuperamos del formulario
		var dato = {
			//user: "{{name}}",
			idUser:$('#id_idUser').val(),
			Usuario:$('#id_Usuario').val(),
			descripcion:$('#id_descripcion').val(),
			Codigo:$('#id_Codigo').val(),
			fecha_presentacion:$('#id_fecha_presentacion').val(),
			hora:$('#id_hora').val()
		}
		//console.log(dato);//hasta aki llega optine los datos al hacer click
		//nuevo comentario es el evento que enviamos el servidor
		if (dato.idUser.length<0 || dato.Usuario.length==0 || dato.descripcion.length<1 || dato.Codigo.length==0 || dato.fecha_presentacion.length==0 || dato.hora.length==0){
			alert('Dejo Campos en blanco Verifique por favor...');
		}
		else{
			socket.emit('notificacion', dato);
			cont=cont+1;
			socket.emit('notificaciones',cont);
		}
	}
	socket.on('devolviendo', function(resp){
		var resp = JSON.parse(resp);
		console.log('sisisi');
		$("#comentario").prepend("<p>"+data.Usuario+ ":Notifico.-" +data.descripcion+"Cod:"+data.Codigo+"</p>");
		//$("#id_comment").val("");
	});
	/*socket.on('Avisos',Respuesta);
		function Respuesta(data){
			alert('Notificacion: '+data);
		}*/
		function ventanaSecundaria(URL){
                window.open(URL,"Editar","width=500,height=300,scrollbars=NO top=150 left=550");
            }
</script>
{% endblock %}