{% extends 'inspector/inicio_inspector.html' %}
{% block user %}{{user}}{% endblock %}
{% block inspecciones %}
<link rel="stylesheet" type="text/css" href="/static/css/frontends.css">
<link rel="stylesheet" type="text/css" href="/static/css/formularios.css">
<div class="card">
	<p>Detalles Del Negocio:</p>
	<ul>
		<li><a href="/datosDenunciaInspector/{{negocio.id}}/">{{negocio.propietario}}   {{negocio.memorial_apertura}}</a>
	</li>
		<!-- <li><a href="/eliminarN/{{negocio.id}}/">Eliminar</a></li> -->
	</ul>
</div>
{% endblock %}